.App {
  text-align: center;
}


.fredoka-navbar {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.cd {
  display: flex;
  justify-content: center;

}



.imgg {
  width: 98%;
  height: 80%;
  
}

.content-container {
  display: flex;
  padding: 20px;
  font-size: large;
}

/* Style for the image container on the left */
.image-container {
  flex: 1;
  padding: 20px;
}

/* Style for the info container on the right */
.info-container {
  flex: 1;
 
}

/* Style for the info content */
.info-content {
  text-align: left;
}


/* Styling for the pop-up overlay */
/* .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
} */

.popup-image {
  max-width: 100%; /* Adjust the max-width as needed */
  max-height: 75vh; /* Adjust the max-height as needed */
  object-fit: contain;
}

/* Add this style to ensure the content inside the overlay is stacked vertically */
.popup-content {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px; /* Add rounded corners to the pop-up content */
}
/* .popup-content > * {
  margin-bottom: 10px;
} */

.image-description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  flex-direction: column;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-cell{
  color: blue;
  cursor: pointer;
}

.popup-image1 {
  max-width: 100%; /* Adjust the max-width as needed */
  max-height: 75vh; /* Adjust the max-height as needed */
  object-fit: contain;
}

/* App.css */

/* Overlay styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

/* Popup content styling */
.popup-content {
  background-color: white; /* White background for the popup */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
  max-width: 80%; /* Limit maximum width of the popup */
  max-height: 80%; /* Limit maximum height of the popup */
  overflow: auto; /* Enable scrolling if content overflows */
}

.navbar{
  background-color: rgb(205, 117, 117);
  position: fixed;
  z-index:1000;
  
}

@media (min-width: 992px) {
  .navbar-brand {
    padding: 10px 170px;
  }
}

.nav-item{
  padding-left: 35px;
  padding-right: 35px;
}

.nav-link{
  color: white;
}


.homediv {
  height: 100vh;
  overflow: hidden;
  opacity: 0.6; /* This will hide any content that overflows the container */
}

.homeimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center; ;/* Optional: Centers the image */
}


.homediv{
  background-color: rgb(211, 101, 101);
  

  
}