body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.heading
{
    text-align: center;
}

.toggle-button {
    position: absolute;
    top: 100; /* Position at the top */
    right: 0; /* Position at the end */
    left : 0%;
    border: none;
    background: none;
    padding: 0;
  }

.labels {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
}

.button1, .button2, .button3, .button4, .button5, .button6 {
    position: absolute;
    /* position:fixed; */
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
    z-index: 0;
}


.labels img {
    position: relative;
    width : 100%;
    max-width: 100%;
    
    /* display: inline-block; */
}


.popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    z-index: 1001;
    max-width: 400px;
    width: 100%;
    text-align: center;
    font-size: medium;
}

.popup img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.popup .description {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

.popup audio {
    margin-top: 15px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #aaaaaa;
    cursor: pointer;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

  
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {

    

    /* Styles for small devices (sm) */
    .labels img {
        width: 90%; /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 28%; /* Adjust the percentage as needed */
        left: 33.5%; /* Adjust the percentage as needed */
    }
    
    .button2 { /* Button 2 */
        top: 52%; /* Adjust the percentage as needed */
        left: 73%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 82%; /* Adjust the percentage as needed */
        left: 35%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 33%; /* Adjust the percentage as needed */
        left: 69%; /* Adjust the percentage as needed */
    }
    
    .button5{ /* Button 5 */
        top: 73%; /* Adjust the percentage as needed */
        left: 37%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 45%; /* Adjust the percentage as needed */
        left: 38%; /* Adjust the percentage as needed */
    }

    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for medium devices (md) */
    .labels img {
        width: 90%;
       
         /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 26%; /* Adjust the percentage as needed */
        left: 34%; /* Adjust the percentage as needed */
    }
    
    .button2 { /* Button 2 */
        top: 52%; /* Adjust the percentage as needed */
        left: 74%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 81%; /* Adjust the percentage as needed */
        left: 35%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 32%; /* Adjust the percentage as needed */
        left: 69%; /* Adjust the percentage as needed */
    }
    
    .button5 { /* Button 5 */
        top: 72%; /* Adjust the percentage as needed */
        left: 37%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 43%; /* Adjust the percentage as needed */
        left: 38%; /* Adjust the percentage as needed */
    }
    .toggle-button {
        position: absolute;
        top: 5%; /* Position at the top */
        right: 5%; /* Position at the end */
        left : 10;
        border: none;
        background: none;
        padding: 0;
    }

    
}

@media only screen and (min-width: 993px) {
    /* Styles for large devices (lg) */
    
    .labels img {
        width: 80%;
        height: 40%;
         /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 25.8%; /* Adjust the percentage as needed */
        left: 36.5%; /* Adjust the percentage as needed */
    }

    .button2 { /* Button 2 */
        top: 53%; /* Adjust the percentage as needed */
        left: 72%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 81%; /* Adjust the percentage as needed */
        left: 36.5%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 32%; /* Adjust the percentage as needed */
        left: 67%; /* Adjust the percentage as needed */
    }
    
    .button5 { /* Button 5 */
        top: 71%; /* Adjust the percentage as needed */
        left: 39%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 45%; /* Adjust the percentage as needed */
        left: 39%; /* Adjust the percentage as needed */
    }
    .toggle-button {
        position: absolute;
        top: 0; /* Position at the top */
        right: 0; /* Position at the end */
        border: none;
        background: none;
        padding: 0;
      }

    
}






#imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media only screen and (max-width: 768px) {
    /* Styles for small devices (sm) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        width:15px;
        padding: 0px;
        font-size: 10px;
    } 
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for medium devices (md) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 993px) {
    /* Styles for large devices (lg) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        font-size: 18px;
        height: 28px;

    }
}
