body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.heading
{
    text-align: center;
    margin-top: 10px;
}

.toggle-button {
    position:absolute;
    top: 100%;
    /* right:4.5%; */
    left:83%;
    border: none;
    background: none;
    padding: 0;
    
    
  }
.description
{
    position: absolute;
    top:115%;
    margin-top: 10px;
    left:0%;
    text-align: left;
    font-size: 20px;
}
.labels {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
}

.button1, .button2, .button3, .button4, .button5, .button6 {
    position: absolute;
    color : white;
    background-color: rgba(0,0,0,1);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    font-size: medium;
    font-weight: bolder;
    z-index: 0;
    transition: background-color 0.3s ease;
    
}

/* Hover effect */
.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover,.button6:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

.button1:hover::after,
.button2:hover::after,
.button3:hover::after,
.button4:hover::after,
.button5:hover::after,
.button6:hover::after,
.toggleButton:hover::after{
  content: attr(data-tooltip); /* Display the value of data-tooltip as tooltip content */
  position: absolute;
  top: 100%; /* Position the tooltip below the button */
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0; /* Initially hide the tooltip */
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Tooltip display on hover */
.button1:hover::after,
.button2:hover::after,
.button3:hover::after,
.button4:hover::after,
.button5:hover::after,
.button6:hover::after,
.toggleButton:hover::after{
  opacity: 1; /* Show the tooltip on hover */
}


.labels img {
    position: relative;
    width : 100%;
    max-width: 100%;
    
    /* display: inline-block; */
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup {
    display: none;
    position: fixed;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    top: 7.7%;
    left: 0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1005;
}


.popup-img {
    display: none;
    margin: auto; /* Center horizontally and vertically */
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    z-index: 1005;
}

/* .popup .description {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
} */
#popupInfo{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; 
    z-index: 1005;
}



.popup audio {
    margin-top: 15px;
    z-index: 1005;
}


  
  /* Close button styles */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #aaa; /* Border for the box structure */
    border-radius: 5px; /* Square shape */
    cursor: pointer;
    z-index: 1006;
    color: #aaa;
    transition: background-color 0.3s, border-color 0.3s; /* Transition for color change */
  }
  
  /* Close button icon */
.close-button::after {
    content: '×'; /* Unicode character for "x" */
    font-family: Arial, sans-serif; /* Use a common font */
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Make the font bold */
    color: black; /* Default color */
    display: block;
    text-align: center;
    line-height: 30px; /* Center vertically */
  }
  
  
  /* Hover effect */
  .close-button:hover {
    background-color: #f00; /* Red background on hover */
    border-color: #f00; /* Red border on hover */
  }
  
  /* Hover effect for icon */
  .close-button:hover::after {
    color: #fff; /* White color on hover */
  }
  
  /* Prevent ::after pseudo-element from being applied to any other element */
  .close-button:not(:last-child)::after {
    content: none; /* Remove content from ::after pseudo-element for all but the last .close-button */
  }
  
  
.img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


  
/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {

    /* Styles for small devices (sm) */
    .labels img {
        width: 90%; /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 27%; /* Adjust the percentage as needed */
        left: 33.5%; /* Adjust the percentage as needed */
    }
    .button2 { /* Button 2 */
        top: 52%; /* Adjust the percentage as needed */
        left: 73%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 82%; /* Adjust the percentage as needed */
        left: 35%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 33%; /* Adjust the percentage as needed */
        left: 69%; /* Adjust the percentage as needed */
    }
    
    .button5{ /* Button 5 */
        top: 73%; /* Adjust the percentage as needed */
        left: 37%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 45%; /* Adjust the percentage as needed */
        left: 38%; /* Adjust the percentage as needed */
    }

    /*Medulla*/
    .Medulla.button1 { /* Button 1 */
        top: 11%; /* Adjust the percentage as needed */
        left: 22.5%; /* Adjust the percentage as needed */
    }

    .Medulla.button2 { /* Button 2 */
        top: 19.8%; /* Adjust the percentage as needed */
        left: 51%; /* Adjust the percentage as needed */
    }

    .Medulla.button3 { /* Button 3 */
        top: 45.5%; /* Adjust the percentage as needed */
        left: 34%; /* Adjust the percentage as needed */
    }

    .Medulla.button4 { /* Button 4 */
        top: 74%; /* Adjust the percentage as needed */
        left: 72%; /* Adjust the percentage as needed */
    }

    /*Cortex*/
    .Cortex.button1 { /* Button 1 */
        top: 7.4%; /* Adjust the percentage as needed */
        left: 41.2%; /* Adjust the percentage as needed */
    }

    .Cortex.button2 { /* Button 2 */
        top: 38%; /* Adjust the percentage as needed */
        left: 25%; /* Adjust the percentage as needed */
    }

    .Cortex.button3 { /* Button 3 */
        top: 54%; /* Adjust the percentage as needed */
        left: 61.3%; /* Adjust the percentage as needed */
    }

    .Cortex.button4 { /* Button 4 */
        top: 45.4%; /* Adjust the percentage as needed */
        left: 14.6%; /* Adjust the percentage as needed */
    }
    .Cortex.button5 { /* Button 4 */
        top: 77.55%; /* Adjust the percentage as needed */
        left: 47.7%; /* Adjust the percentage as needed */
    }
    
    
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

    
    /* Styles for medium devices (md) */
    .labels img {
        width: 90%;
       
         /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 26%; /* Adjust the percentage as needed */
        left: 34%; /* Adjust the percentage as needed */
    }
    
    .button2 { /* Button 2 */
        top: 52%; /* Adjust the percentage as needed */
        left: 74%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 81%; /* Adjust the percentage as needed */
        left: 35%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 32%; /* Adjust the percentage as needed */
        left: 69%; /* Adjust the percentage as needed */
    }
    
    .button5 { /* Button 5 */
        top: 72%; /* Adjust the percentage as needed */
        left: 37%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 43%; /* Adjust the percentage as needed */
        left: 38%; /* Adjust the percentage as needed */
    }
    /*Medulla*/
    .Medulla.button1 { /* Button 1 */
        top: 10%; /* Adjust the percentage as needed */
        left: 22.5%; /* Adjust the percentage as needed */
    }
    
    .Medulla.button2 { /* Button 2 */
        top: 18%; /* Adjust the percentage as needed */
        left: 50.8%; /* Adjust the percentage as needed */
    }
    
    .Medulla.button3 { /* Button 3 */
        top: 43.5%; /* Adjust the percentage as needed */
        left: 33.8%; /* Adjust the percentage as needed */
    }
    
    .Medulla.button4 { /* Button 4 */
        top: 72.7%; /* Adjust the percentage as needed */
        left: 71%; /* Adjust the percentage as needed */
    }

    /*Cortex*/
    .Cortex.button1 { /* Button 1 */
        top: 6.1%; /* Adjust the percentage as needed */
        left: 39.99%; /* Adjust the percentage as needed */
    }

    .Cortex.button2 { /* Button 2 */
        top: 36%; /* Adjust the percentage as needed */
        left: 23.3%; /* Adjust the percentage as needed */
    }

    .Cortex.button3 { /* Button 3 */
        top: 54%; /* Adjust the percentage as needed */
        left: 61.3%; /* Adjust the percentage as needed */
    }

    .Cortex.button4 { /* Button 4 */
        top: 44%; /* Adjust the percentage as needed */
        left: 14.6%; /* Adjust the percentage as needed */
    }
    .Cortex.button5 { /* Button 4 */
        top: 75%; /* Adjust the percentage as needed */
        left: 47.1%; /* Adjust the percentage as needed */
    }

    
}

@media only screen and (min-width: 993px) {
    /* Styles for large devices (lg) */
    
    .labels img {
        width: 80%;
        height: 40%;
         /* Adjust the percentage as needed */
    }

    .button1 { /* Button 1 */
        top: 27%; /* Adjust the percentage as needed */
        left: 37%; /* Adjust the percentage as needed */
    }

    .button2 { /* Button 2 */
        top: 53%; /* Adjust the percentage as needed */
        left: 70%; /* Adjust the percentage as needed */
    }
    
    .button3 { /* Button 3 */
        top: 82%; /* Adjust the percentage as needed */
        left: 37.5%; /* Adjust the percentage as needed */
    }
    
    .button4 { /* Button 4 */
        top: 32.5%; /* Adjust the percentage as needed */
        left: 65.5%; /* Adjust the percentage as needed */
    }
    
    .button5 { /* Button 5 */
        top: 71%; /* Adjust the percentage as needed */
        left: 40%; /* Adjust the percentage as needed */
    }
    
    .button6 { /* Button 6 */
        top: 45%; /* Adjust the percentage as needed */
        left: 40%; /* Adjust the percentage as needed */
    }

    /*Medulla*/
    .Medulla.button1 { /* Button 1 */
        top: 10.1%; /* Adjust the percentage as needed */
        left: 29.34%; /* Adjust the percentage as needed */
    }

    .Medulla.button2 { /* Button 2 */
        top: 19%; /* Adjust the percentage as needed */
        left: 50.64%; /* Adjust the percentage as needed */
    }
    
    .Medulla.button3 { /* Button 3 */
        top: 44.5%; /* Adjust the percentage as needed */
        left: 37.9%; /* Adjust the percentage as needed */
    }
    
    .Medulla.button4 { /* Button 4 */
        top: 73.5%; /* Adjust the percentage as needed */
        left: 66%; /* Adjust the percentage as needed */
    }

    /*Cortex*/
    .Cortex.button1 { /* Button 1 */
        top: 7%; /* Adjust the percentage as needed */
        left: 43%; /* Adjust the percentage as needed */
    }

    .Cortex.button2 { /* Button 2 */
        top: 36.9%; /* Adjust the percentage as needed */
        left: 30.5%; /* Adjust the percentage as needed */
    }

    .Cortex.button3 { /* Button 3 */
        top: 54%; /* Adjust the percentage as needed */
        left: 58.5%; /* Adjust the percentage as needed */
    }

    .Cortex.button4 { /* Button 4 */
        top: 45%; /* Adjust the percentage as needed */
        left: 23.52%; /* Adjust the percentage as needed */
    }
    .Cortex.button5 { /* Button 4 */
        top: 76.5%; /* Adjust the percentage as needed */
        left: 48%; /* Adjust the percentage as needed */
    }

    
}

.image-cell{
    color: blue;
    cursor: pointer;
  }

#imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media only screen and (max-width: 768px) {
    /* Styles for small devices (sm) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        width:12px;
        padding: 0px;
        font-size: 10px;
        height: 15px;
    } 
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    /* Styles for medium devices (md) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        font-size: 15px;
    }
}

@media only screen and (min-width: 993px) {
    /* Styles for large devices (lg) */
    .button1, .button2, .button3, .button4, .button5, .button6 {
        font-size: 18px;
        height: 28px;

    }
}
